.app-container{
  background-image: url("https://www.panthalassanews.com/assets/images/biography/comatose.jpg");
  background-size: cover;
  height: 200vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-title{
  text-decoration: underline;
  font-weight: 500  ;
  font-style: italic;
  font-family: 'Arial', sans-serif;
  color: red;

}
.parent-container{
  display: flex;
  justify-content:center;
  align-items: center;
  height: 1000px;
  width:1000px;
  background-color: green;
  align-content: end;
}
.child-container{
  background-color: white;
  width: 100px;
  height: 100px;
}
#child1{
  order: 6;
} 
#child2{
  order: 5;
} 
#child3{
  order: 4;
} 
#child4{
  order: 3;
} 
#child5{
  order: 2;
} 
#child6{
  order: 1;
  flex-basis: 300px;
  align-self: flex-start;
} 